/*****************************************
*
*	Front-end News! Stylesheet
*
*	Indigo			: #3f51b5
*	Indigo (dark)	: #303f9f
*	Light blue		: #c5cae9
*	White			: #fff
*	Pink			: #ff5081
*	Gray (dark)		: #212121
*	Gray (medium)	: #727272
*	Gray (light)	: #b6b6b6
*	
*
*****************************************/

/*---------------------------------------
*	Base
---------------------------------------*/

body {
	color: #212121;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	
}

h1, h2, h3, h4, h5, h6 {

}

ol, ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

p {

}

a {
	color: #ff5081;
	transition: 0.2s ease-in-out;
}

a:active,
a:hover,
a:focus{
	color: #212121;
}

/*---------------------------------------
*	Hero
---------------------------------------*/


.hero {
	background-color: #3f51b5;
	color: #fff;	
	margin-bottom: 40px;
	padding: 30px 0;
	text-align: center;

}


/*---------------------------------------
*	Logo
---------------------------------------*/

.logo {
	font-size: 34px;
	font-weight: bold;
	text-transform: uppercase;

}

/*---------------------------------------
*	News
---------------------------------------*/

.news-item {
	border-bottom:  1px solid  #b6b6b6;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.news-link{
	color: #3f51b5;
	display: block;
	font-size: 24px;
	margin-bottom: 10px;
}

.news-meta-item{
	display: inline;
	margin-right: 15px;
}

/*---------------------------------------
*	Container
---------------------------------------*/


.container{
	margin: 0 auto;
	max-width: 800px;	
}


/*---------------------------------------
*	States
---------------------------------------*/

.is-liked {
	animation: flash 2s;
}

.is-visible{
	height: auto;
	opacity: 1;
	visibility: visible;
}

/*---------------------------------------
*	Form
---------------------------------------*/

.form{
	height: 0;
	margin-bottom: 20px;
	opacity: 0;
	visibility: hidden;
}

.form.is-visible{
	height: auto;
	opacity: 1;
	transition:  opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
	visibility: visible;
}

.form-label{
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-input{
	border: 1px solid  #b6b6b6; 
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 20px;
	padding: 10px;
	width: 100%;
}

/*---------------------------------------
*	Animation
---------------------------------------*/

@keyframes flash{
	from, 50%, to{
		opacity: 0;
	}
	25%, 75% {
		opacity: 1;
	}
}